.login-heading{text-align:center; color: 7c7c7c; letter-spacing: 0.5px;}
.login-heading p{font-size:16px;}
.login-form{padding:30px; border-radius: 10px; background-color:#efefef;}
.login-form img{margin:0px auto;}
.login-form .form-group{margin-top:10px;}
.login-container{width: 500px; margin: 0px auto;}
.login-btn{margin: 0px auto; text-align: center;}
.login-btn .btn{width:140px; font-size:16px;}
.ng-valid[required] {border-left: 5px solid #42A948; /* green */}
.ng-invalid {border-left: 5px solid #a94442; /* red */}